html {
  background-image: 'images/ghost_pokemon.gif';
  background-size: 100% 100%;
}

div.centre-block {
  margin-top: 100px;
  text-align: center;
}
span {
  font-family: monospace;
  color: deeppink;
}
span.name {
  font-size: 200px;
  color: chartreuse;
}

span.link {
  font-size: 100px;
  color: deeppink;
}

a {
  color: deeppink;
}
