html {
  background-image: url('http://i.imgur.com/QCNMBht.gif');
  background-size: 100% 100%;
}

div.centre-block {
  margin-top: 100px;
  text-align: center;
}
span {
  font-family: monospace;
  color: deeppink;
}
span.name {
  font-size: 200px;
  color: chartreuse;
}

a {
  color: deeppink;
}

div.link {
  color: deeppink;
  font-size: 3.5em;
}
